html{
    font-size: 62.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-clock{
    margin: 5% auto;
    background-color: rgb(85, 127, 163);
    color: #ffffff;
    border-radius: 0.5rem;
    height: 20rem;
    width: 50rem;
    padding: 1.5rem;
}

.main-clock-hour{
    height: 70%;
    font-size: 8rem;
    text-align: center;
}

.main-clock-day{
    height: 30%;
    font-size: 3rem;
    text-align: center;
}